#b1{
    background-color:aqua;
    font-size: 20px;
    width: 250px;
    box-shadow: 2px 2px yellow;
    position: ;
    
}
#b2{
    background-color: yellowgreen;
    font-size: 20px;
    width: 250px;
    box-shadow: 2px 2px aqua;
}